body {
    background: #777;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', monospace;
}

button {
    background: #444;
    color: #fff;
    border-width: 2.75px;
    border-radius: 10px;
    border-color: rgb(130, 80, 255)
}